@charset "utf-8";
@import "style.css"; /*style.cssの内容をそのまま読み込んでいます*/
@import "button_grad.css";
@import "page_move.css";

html{
  scroll-behavior: smooth;
}

header {
  background-image: url("img/katana_header.jpg");
  background-position: center center;
  background-size: 100% auto;
	background-repeat: no-repeat;
  height:200px;
}

.description div p{
  padding: 20px 70px;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

.main{
    column-count: 2;
	max-width: 1100px;
	text-align: center;
    margin: 0 auto;
	/*column-width: 600px;*/
}

span.costom {
  color: #FF1493;
}

/*.sub{

	column-count: 2;
}*/

.rank2 {
	display: inline-block;
}

.rank3 {
	display: inline-block;
}



.description img{
  width: 80%;
  max-width: 700px;
}
