@charset "utf-8";
@import "style.css";

header {
  background-image: url(img/work_header.jpg);
  background-position: center center;
  background-size: 100% auto;
	background-repeat: no-repeat;
  height:200px;
}

.description  p{
  padding: 20px 40px;
  max-width: 900px;
  text-align: left;
  margin: 0 auto;
}

.table{
  padding: 10px;
}

table.table1{
  font-size:1.6rem;
  max-width:900px;
  width:100%;
  margin:30px auto;
  border:2px solid #ccc;
  background-color:#030320;
}

table.table1 table{
  font-size:1.2rem;
  margin:20px auto;
}

table.table1 th{
  border-right: 1px solid #555;
  border-top: 1px solid #ccc;
  font-weight: normal;
  font-family: serif;
}

table.table1 td{
  text-align: center;
  border-top: 1px solid #ccc;
    font-size:1.2rem;
}

table.table2 tr{
  margin:0 auto;
}

table.table1 table th{
  border:none;
}
table.table1 table td{
  border:none;
}

table.table3 th{
  padding:5px 0px;
}

.map{
  width: 100%;
}



@media screen and (max-width: 360px) {
  table.table1{
    font-size:1.4rem;
  }

  table.table1 table{
    font-size:1rem;
  }

  table.table1 td{
    font-size:1rem;
  }
}




section.result{
  padding: 5px;
  margin: 50px auto 20px;
  width: 100%;
  max-width: 900px;
}

section.result h2{
  margin-left: 30px;
}

.year-part{
  padding:5px 10px;
}

.year-part summary{
  font-size:1.6rem;
  font-weight: normal;
  font-family: serif;
}

.year-part div{
  padding-left: 20px;
}

.game-part summary{
  font-size: 1.4rem;
  font-family: serif;
  margin: 0;
  border-top: 1px solid #aaa;
}

div.game div{
	padding:5px 20px;
  font-size: 1rem;
}

div.member div{
	display:inline-block;
}
